html {
  font-family: Helvetica, Arial, sans-serif;
}

/**************************************/
/**** SET UP TITLE-BAR SECTION ********/
/**************************************/
/* idTitleBar   ORGANIZATION OF DIVS:
    [--- .titleBarLeft ----]   [-- .titleBarRight --]
    [.titleLogoImg]          [nav:] On Campus | Online
    [h1 .titleDarker]    //     for companies | Sign in
    [h1 .titleLighter]  OR idCampus-idOnline-idSignIn
*/
#idTitleBar {
  display: inline-flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  height: 4rem;
  width: 100%;  /* take the whole screen */
  position: fixed; /* stay on top */
  z-index: 2;
  top: 0; /* some browsers have space on top */
  background-color: white;
}
.titleCenter {
  text-align: center;
  margin: 2rem;
  padding: 0;
}
.titleBarLeft {
  /* these are INSIDE #idTitleBar
     and contain the titleLogoImg
     and titleDarker/titleLigher */
  display: inline-flex;
  justify-content: flex-start;
  vertical-align: middle;
  align-items: center;
  height: 100%;
  margin-left: 1.0rem; /* 1.0 + 0.5 (Img) = 1.5rem */
  /* this border for debug only
  border: solid 1px red; */
}
.titleLogoImg {
  /* organize this image to be a certain
     heigh/width with padding on left */
  padding: 0 0.5rem;
  height: 80%;
  /* this border for debug only
  border: solid 1px black; */
}
.titleDarker h1,h2,h3, .titleLighter h1,h2,h3 {
  /* Size the Title: COLMAR ACADEMY - at the top */
  text-transform: uppercase;
  vertical-align: middle;
  font-size: 1.5rem;
}
.titleDarker {
  font-weight: 700;
  color: #333333; /* darker grey */
}
.titleLighter {
  font-weight: 400;
  color: #666666; /* lighter grey */
}
/* end .titleBarLeft sub-items */

.titleBarRight {
  /* these are INSIDE #idTitleBar */
  display: inline-flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
  vertical-align: middle;
  align-items: center;
  height: 100%;
  margin-right: 1.0rem; /* 0.5 + 1.0 rem = 1.5 */
}
.titleBarRight .titleNavButton {
  background-color: transparent;
  border: none;
  font-size: 1rem;
}
.titleBarRight .titleNavButton:hover {
  background-color: lightGreen;
  border: solid 1px yellow;
}
.titleBarRight .titleNavButton {
  padding: 0.5rem 0.5rem; /* 16px (8x2) between each */
  height: 100%;
  /* for each nav-transition (change
     in background) for a #mottoButton object,
     delay by 250 millisecs and "ease-out":
     fast start, slow end: */
  transition: background-color 200ms ease-out,
              border 200ms ease-out;
}
.titleBarRight nav a {
  vertical-align: middle;
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 500;
  color: #666666;
}

.mottoButtonImg:hover {
  background-color: lightBlue;
  border: dotted 2px blue;
}
.mottoButtonImg {
  /* These are hidden and replaces
   .titleBarRight for a small phone screen */
  vertical-align: middle;
  display: none;
  height: 80%;
  width: auto;
  /* these are shaped taller than logo! */
  padding-top: 0.5rem;
  /* this border for debug only
  border: solid 1px #c6c1c1; */
}

@media only screen and (max-width: 720px) {
  /* FOR SMALLER SCREENS (TABLETS),
     REPLACE TOP WITH IMAGES, but keep
     the COLMAR ACADEMY header title */
  .titleBarRight {
    /* replace titleBarRight w/idXXX images */
    display: none;  /* hide */
  }
  .mottoButtonImg, .titleDarker, .titleLighter {
    display: block; /* show */
    height: 80%;
  }
  #idSignIn {
    /* This is used to replace the closing
       titleBarRight margin for smaller screens */
    margin-right: 1rem;
  }
}

@media only screen and (max-width: 450px) {
  /* FOR TINY PHONE SCREENS,
     REPLACE TOP WITH IMAGES */
  .titleBarRight, .titleDarker, .titleLighter {
    /* replace titleBarRight w/idXXX images
       and remove COLMAR ACADEMY h1/h2 title */
    display: none;  /* hide */
  }
  .mottoButtonImg {
    display: block; /* show */
    height: 80%;
  }
  #idSignIn {
    /* This is used to replace the closing
       titleBarRight margin for smaller screens */
    margin-right: 1rem;
  }
}
/**************************************/
/**** END SET UP TITLE-BAR SECTION ****/
/**************************************/


/* NOTE: .halfScreenXX is shared by sections:
    idMottoSection and idFeaturesSection
*/
.halfScreenLeft {
  width: 60%; /* only contains an image */
  display: block;
  text-align: left;
  /* this border for debug only:
  border: solid 1px black;  */
}
.halfScreenLeft img {
  width: 90%; /* take up most of the container */
  height: auto;
  margin: 1rem;
}
.halfScreenRight {
  margin: 0 1rem;
  max-width: 30rem;
  display: flex;
  flex-direction: column;
  vertical-align: middle;
  text-align: center;
  justify-content: center;
  /* this border for debug only:
  border: solid 1px black; */
}
.halfScreenSubtitle {
  /* This put here to match image above */
  margin: 1rem 1.5rem; /* top: 16px, r/l: 24ps */
  color: #444444;
}
.halfScreenRight h1,h2,h3 {
  text-transform: none;
  font-weight: 800;
  font-size: 2rem;
  margin: 0.5rem 0; /* top/bottom margin only */
}
.halfScreenRight h4 {
  font-weight: 600;
  line-height: 1.4;
  font-size: 1.2rem;
  margin: 1rem;
}

/**************************************/
/******* START "MOTTO" SECTION ********/
/**************************************/
/* idMottoSection   ORGANIZATION OF DIVS:
    [.halfScreenLeft]   [.halfScreenRight]
    <img only> 60%       <h2></h2>, <p></p>
                         then .mottoButton
*/
#idMottoSection {
  margin-top: 4rem; /* must start under title bar */
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  background-color: #CCCCCC; /* lightGrey */
  color: #444444;
}
#idMottoSection #mottoButton:hover {
  background-color: #666666;
}
#idMottoSection #mottoButton {
  /* grey background box that says "Start here" */
  background-color: #333333;
  border: none;
  color: white;
  /* for each nav-transition (change
     in background) for a #mottoButton object,
     delay by 250 millisecs and "ease-out":
     fast start, slow end: */
  transition: background-color 200ms ease-out;
  padding: 0.5rem;
  font-size: 1.0rem;
  text-align: center;
  margin: 0.5rem auto;
  min-width: 70%;
  /* height: 1.5rem; */
}

@media only screen and (max-width: 720px) {
  /* FOR SMALLER SCREENS (TABLETS) --
    close the image on the left since
    there is no space or need for it: */
  #idMottoSection {
    background-color: #777777;
  }
  .halfScreenLeft {
    display: none;  /* hide the left */
  }
  #idMottoSection .halfScreenRight {
    max-width: 100%; /* override lower 20rem */
    width: 100%;
    margin-top: 11.25rem;
    margin-right: 0;
    margin-left: 0;  /* Needed to override 777777 */
    background-color: #DDDDDD;
    padding-bottom: 2rem;
  }
  #idMottoSection #mottoButton {
    /* "lighter" grey background box
       that says "Start here" */
    background-color: #777777;
  }
}

/**************************************/
/********* END "MOTTO" SECTION ********/
/**************************************/


/**************************************/
/***** START INFORMATION SECTION ******/
/**************************************/
/* idFeaturesSection   ORGANIZATION OF DIVS:
  [--.halfScreenLeft--]   [--.halfScreenRight--]
    <img only> 60%         <infoBox><..Left/..Right>
    .halfScreenSubtitle    <infoBox><..Left/..Right>
    <h2></h2>, <p></p>     <infoBox><..Left/..Right>
    #idFeatureFootnote */
#idFeaturesSection {
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  background-color: white;
  color: #444444;
}
#idFeaturesSection .halfScreenRight {
  /* override upper section of min-width */
  min-width: 26.5rem; /* 423 px */
  vertical-align: top;
  align-items: flex-start;
  margin: 0 auto;
  padding: 0;
}
#idFeaturesSection #idFeatureFootnote {
  /* make it stand out like a quote */
  font-family: Calibri, Helvetica, serif;
  font-size: smaller;
}
.infoBox:hover {
  background-color: #eeeeee;
}
.infoBox {
  display: inline-flex;
  justify-content: center;
  width: 100%;
  border-top: none;
  border-left: solid 1px #eeeeee;
  border-right: solid 1px #eeeeee;
  border-bottom: solid 1px #eeeeee;
}
/* was: #imgInfoOrientation, #imgInfoOurCampus */
.infoMobileImage {
  width: 95%;
  height: auto;
  margin: 1rem 0;  /* about 16px */
  text-align: center;
  display: none; /* hide, hidden on right */
}
@media only screen and (max-width: 720px) {
  /* FOR SMALLER SCREENS (TABLETS)  */
  .infoBox:hover {
    /* default background-color: #eeeeee; */
    background-color: #cccccc; /* darker */
  };
  .infoBox {  /* default padding = 0.5rem */
    padding-bottom: 1rem;
  }
  .halfScreenRight, .infoBox {
    /* default is this at < 720px at the top :
    background-color: #DDDDDD; */
    background-color: #eeeeee; /* lighter */
  };
}  /* END (max-width: 720px) */

.infoBox .infoBoxLeft {
  width: 35%; /* take up 1/3rd of container */
  margin: 1rem;
  /* this border for debug only:
  border: solid 1px black; */
}
.infoBox .infoBoxLeft img {
  width: 100%; /* img is inside infoBoxLeft */
  height: auto;
}
.infoBox .infoBoxRight {
  margin: 0 1rem; /* no border top/bottom */
  width: 65%;
  text-align: left;
  /* this border for debug only:
  border: solid 1px red; */
}
.infoBox .infoBoxRight p {
  font-size: 1rem;
}
.infoBox .infoReadMore:hover {
  font-weight: bold;
  color: lightGreen;
}
.infoBox .infoReadMore {
  /* read more link (button) */
  border: none;
  color: #939afa; /* darker lightBlue */;
  background-color: transparent;
  text-align: center;
  margin: 0.25rem 0 0.25rem;
  padding: 0;
  font-size: 1rem;
}

@media only screen and (max-width: 450px) {
  /* FOR TINY PHONE SCREENS,
     MAKE ICONS WIDER IN INFO SECTION: */
  .infoBox {  /* default padding = 0.5rem */
    padding-bottom: 1rem;
  }
  .infoBox .infoBoxLeft {
    /* hide left since new image is hidden on
       the .infoBoxRight pane */
    display: none;
  }
  .infoBox .infoBoxRight {
    /* no border top/bottom, but right is IN */
    margin: 0 2rem 0 1rem;
    width: 100%;
    /* this border for debug only:
    border: solid 1px red;  */
  }
  /* was: #imgInfoOrientation, #imgInfoOurCampus */
  .infoMobileImage {
    /* this inherits width/height/margin from main */
    display: block; /* show */
  }
} /* end (max-width: 450px) */

/**************************************/
/****** END INFORMATION SECTION *******/
/**************************************/


/**************************************/
/******* START LEARNING SECTION *******/
/**************************************/
/* idLearningSection   ORGANIZATION OF DIVS:
         <h2>Start learning</h2>
  [--------- .fullScreenTileRows ---------]
  .learnBox       .learnBox      .learnBox
  <..Top/Bottom>  <..Top/Bottom> <..Top/Bottom>

  .learnBox       .learnBox      .learnBox
  <..Top/Bottom>  <..Top/Bottom> <..Top/Bottom>

  ..etc., where .learnBox is structed as:
  =======================================
     .learnBox
       .learnBoxTop <img><h4>.. COURSES
       .learnBoxBottom <p>..</p>
*/
#idLearningSection {
  padding: 2rem 1rem; /* 16px on the side */
  text-align: center;
  color: #666666;
  background-color: #dddddd;
}
#idLearningSection h1,h2,h3 {
  color: #333333;
  padding: 0;
  margin-bottom: 1rem;
  font-weight: 600;
}
.fullScreenTileRows {
  display: inline-flex;
  justify-content: center;
  align-items: baseline;
  flex-wrap: wrap;
}
.learnBox {
  width: 30%;
  min-width: 14rem;
  max-width: 20rem;
  min-height: 19rem;
  text-align: left;
  background-color: white;
  margin: 1rem;
}
.learnBox h2,h3,h4 {
  color: #333333;
  font-size: 1.1rem;
  /* 16px on top or left */
  margin: 1rem 0.5rem 0.5rem 1rem;
  padding: 0;
}
.learnBox p {
  color: #333333;
  font-size: 0.9rem;
  /* 16px on left or bottom, the rest 8px */
  margin: 0.5rem 0.5rem 1rem 1rem;
  margin-top: 0.5rem;
}
.learnBoxTop {
  max-height: 13.75rem;
  vertical-align: bottom;
}
.learnBoxTop img {
  width: 100%;
  height: auto;
}

@media only screen and (max-width: 720px) {
  /* FOR SMALLER SCREENS (TABLETS)  */
  .learnBox { /* this is in section below */
    min-height: 15rem;
  }
}  /* END (max-width: 720px) */

@media only screen and (max-width: 450px) {
  /* FOR TINY PHONE SCREENS,
     REMOVE IMAGES IN LEARN SECTION: */
  #idLearningSection {
    background-color: #ffffff; /* lighter */
  }
  .fullScreenTileRows {
    margin-top: 0.5rem;
    width: 100%;
  }
  .learnBox {
    background-color: #cccccc; /* darker */
    width: 90%;
    min-width: inherit;
    min-height: inherit;
    margin: 0.25rem;  /* go from 16px default */
  }
  .learnBox p, .learnBox img {
    display: none; /* hide all minor text
      and pictures for small screens */
  }
  .learnBox h2,h3,h4 {
    /* 16px on all sides */
    margin: 1rem;
  }
  #idLearningSection .titleDarker {
    display: block;
  }
}
/**************************************/
/******** END LEARNING SECTION ********/
/**************************************/


/**************************************/
/******** START THESIS SECTION ********/
/**************************************/
#idThesisSection {
  padding: 0 1rem; /* 16px on the side */
  text-align: center;
  color: #666666;
  background-color: white;
  display: inline-flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}
#vidThesis {  /* video inside halfScreenLeft */
  width: 100%;
  height: auto;
}
#idThesisSection .infoBox {
  min-height: 10.5rem;
  width: auto;
}

@media only screen and (max-width: 720px) {
  /* FOR SMALLER SCREENS (TABLETS) --
    keep only the video on the left since
    there is no space for the rest: */
  #idThesisSection .halfScreenLeft {
    /* This is in section below, hide
       it and make way for video only */
    display: block;
    width: 90%;
    text-align: center;
    margin: 0 auto;
    padding: 0;
  }
  #idThesisSection .halfScreenRight,
  #idThesisSection .halfScreenSubtitle {
      display: none; /* hide all text */
  }
}  /* end (max-width: 720px) */

@media only screen and (max-width: 450px) {
  /* FOR TINY PHONE SCREENS,
     REPLACE TOP WITH IMAGES */
  #idThesisSectionTOP .titleCenter,
  #idThesisSectionTOP .titleDarker {
    display: block; /* override prev setting */
  }
}  /* end (max-width: 450px) */

/**************************************/
/********  END THESIS SECTION  ********/
/**************************************/


/**************************************/
/******** START FOOTER SECTION ********/
/**************************************/
/* NOTE: On a small screen, the right will
  disappear with Terms/Privacy from the
  default settings set above for 450px
*/
#idFooterBar {
  display: inline-flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  height: 4rem;
  width: 90%;  /* take most of the screen */
  text-align: left;
  background-color: white;
  vertical-align: top;
  font-size: 0.7rem;
  margin: 0.5rem 1.5rem;  /* 24px left/right */
}
#idFooterBar .titleBarRight {
  margin-right: 1rem;
}
#idFooterBar ul li {
  display: inline;  /* this should remove bullets */
  padding: 0 0.5rem;
}
#idFooterBar ul a {
  text-decoration: none;
  color: #333333;
}
/**************************************/
/********  END FOOTER SECTION  ********/
/**************************************/
