html {
  font-family: Helvetica, Arial, sans-serif;
}

/**************************************/
/**** SET UP TITLE-BAR SECTION ********/
/**************************************/
/* idTitleBar   ORGANIZATION OF DIVS:
    [--- .titleBarLeft ----]   [-- .titleBarRight --]
    [.titleLogoImg]          [nav:] On Campus | Online
    [h1 .titleDarker]    //     for companies | Sign in
    [h1 .titleLighter]  OR idCampus-idOnline-idSignIn
*/
#idTitleBar {
  display: inline-flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  height: 4rem;
  width: 100%;  /* take the whole screen */
  position: fixed; /* stay on top */
  z-index: 2;
  top: 0; /* some browsers have space on top */
}
.titleBarLeft {
  /* these are INSIDE #idTitleBar
     and contain the titleLogoImg
     and titleDarker/titleLigher */
  display: inline-flex;
  justify-content: flex-start;
  vertical-align: middle;
  align-items: center;
  height: 100%;
  /* this border for debug only
  border: solid 1px red; */
  margin-left: 1.0rem; /* 1.0 + 0.5 (Img) = 1.5rem */
}
.titleLogoImg {
  /* organize this image to be a certain
     heigh/width with 24px padding on left */
  padding: 0 0.5rem;
  height: 80%;
  /* this border for debug only
  border: solid 1px black; */
}
.titleDarker h1,h2,h3, .titleLighter h1,h2,h3 {
  /* Size the Title: COLMAR ACADEMY - at the top */
  text-transform: uppercase;
  vertical-align: middle;
  font-size: 1.5rem;
}
.titleDarker {
  font-weight: 700;
  color: #333333; /* darker grey */
}
.titleLighter {
  font-weight: 400;
  color: #666666; /* lighter grey */
}
/* end .titleBarLeft sub-items */

.titleBarRight {
  /* these are INSIDE #idTitleBar */
  display: inline-flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
  vertical-align: middle;
  align-items: center;
  height: 100%;
  margin-right: 1.0rem; /* 0.5 + 1.0 rem = 1.5 */
}
.titleBarRight .titleNavButton {
  background-color: transparent;
  border: none;
  font-size: 1rem;
}
.titleBarRight .titleNavButton:hover {
  background-color: lightGreen;
  border: solid 1px yellow;
}
.titleBarRight .titleNavButton {
  padding: 0.5rem 0.5rem; /* 16px (8x2) between each */
  height: 100%;
  /* for each nav-transition (change
     in background) for a #mottoButton object,
     delay by 250 millisecs and "ease-out":
     fast start, slow end: */
  transition: background-color 200ms ease-out,
              border 200ms ease-out;
}
.titleBarRight nav a {
  vertical-align: middle;
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 500;
  color: #666666;
}

.mottoButtonImg:hover {
  background-color: lightBlue;
  border: dotted 2px blue;
}
.mottoButtonImg {
  /* These are hidden and replace
   .titleBarRight
   for a small phone screen */
  vertical-align: middle;
  display: none;
  height: 80%;
  width: auto;
  /* these are shaped taller than logo! */
  padding-top: 0.5rem;
  /* this border for debug only
  border: solid 1px #c6c1c1; */
}

@media only screen and (max-width: 680px) {
  /* FOR SMALLER SCREENS (TABLETS),
     REPLACE TOP WITH IMAGES, but keep
     the COLMAR ACADEMY header title */
  .titleBarRight {
    /* replace titleBarRight w/idXXX images */
    display: none;  /* hide */
  }
  .mottoButtonImg, .titleDarker, .titleLighter {
    display: block; /* show */
    height: 80%;
  }
  #idSignIn {
    /* This is used to replace the closing
       titleBarRight margin for smaller screens */
    margin-right: 1rem;
  }
}

@media only screen and (max-width: 450px) {
  /* FOR TINY PHONE SCREENS,
     REPLACE TOP WITH IMAGES */
  .titleBarRight, .titleDarker, .titleLighter {
    /* replace titleBarRight w/idXXX images
       and remove COLMAR ACADEMY h1/h2 title */
    display: none;  /* hide */
  }
  .mottoButtonImg {
    display: block; /* show */
    height: 80%;
  }
  #idSignIn {
    /* This is used to replace the closing
       titleBarRight margin for smaller screens */
    margin-right: 1rem;
  }
}
/**************************************/
/**** END SET UP TITLE-BAR SECTION ****/
/**************************************/


/**************************************/
/******* START "MOTTO" SECTION ********/
/**************************************/
/* idMottoSection   ORGANIZATION OF DIVS:
    [--- .mottoLeft ----]   [-- .mottoRight --]
    <img only> 60%       <h2></h2>, <p></p>
                         then .mottoButton
*/
#idMottoSection {
  margin-top: 4rem; /* must start under title bar */
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  background-color: #CCCCCC; /* lightGrey */
  color: #444444;
}

#idMottoSection .mottoLeft {
  width: 60%; /* only contains an image */
  display: block;
  /* this border for debug only:
  border: solid 1px black;  */
}
#idMottoSection .mottoLeft img {
  width: 90%; /* take up most of the container */
  height: auto;
  margin: 1rem;
}
#idMottoSection .mottoRight {
  margin: 0 1rem;
  max-width: 20rem;
  vertical-align: middle;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* this border for debug only
  border: solid 1px black; */
}
#idMottoSection .mottoRight h1,h2,h3 {
  text-transform: none;
  font-weight: 800;
  font-size: 2rem;
  margin: 0.5rem 0; /* top/bottom margin only */
}
#idMottoSection .mottoRight p {
  font-weight: 600;
  line-height: 1.4;
  font-size: 1.2rem;
}
#idMottoSection #mottoButton:hover {
  background-color: #666666;
}
#idMottoSection #mottoButton {
  /* grey background box that says "Start here" */
  background-color: #333333;
  border: none;
  color: white;
  /* for each nav-transition (change
     in background) for a #mottoButton object,
     delay by 250 millisecs and "ease-out":
     fast start, slow end: */
  transition: background-color 200ms ease-out;
  padding: 0.5rem;
  font-size: 1.0rem;
  text-align: center;
  margin: 0.5rem auto;
  min-width: 70%;
  /* height: 1.5rem; */
}

@media only screen and (max-width: 680px) {
  /* FOR SMALLER SCREENS (TABLETS) --
    close the image on the left since
    there is no space or need for it: */
  #idMottoSection {
    background-color: #777777;
  }
  #idMottoSection .mottoLeft {
    display: none;
  }
  #idMottoSection .mottoRight {
    max-width: 100%; /* override lower 20rem */
    width: 100%;
    margin-top: 11.25rem;
    margin-right: 0;
    margin-left: 0;
    background-color: #DDDDDD;
    padding-bottom: 2rem;
  }
  #idMottoSection #mottoButton {
    /* "lighter" grey background box
       that says "Start here" */
    background-color: #777777;
  }
}
/**************************************/
/********* END "MOTTO" SECTION ********/
/**************************************/
